{% extends 'base.html' %}
{% load static %}
{% block content %}

<section id="login" class="bg-light py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card">
            <div class="card-header bg-primary text-white login__label">
              <h4><i class="fa fa-sign-in fa-2x" aria-hidden="true"></i> Se Connecter</h4>
            </div>
            <div class="card-body pb-0">
                <!-- Alerts -->
                {% include 'notifications/_alerts.html' %}
                <form action="{% url 'login' %}" method="POST">
                    {% csrf_token %}
                <div class="form-group">
                  <label for="username">Prénom</label>
                  <input type="text" name="username" class="form-control" required>
                </div>

                <div class="form-group">
                  <label for="password2">Mot de passe</label>
                  <input type="password" name="password" class="form-control" required>
                </div>

                <input type="submit" value="Se Connecter " class="btn btn-secondary btn-block login__btn">
                <div class="login__notreg">
                  <span>Pas encore de compte?</span>
                  <a class="text-right" href="{% url 'register' %}">S'enregister</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</section>

{% endblock %}