{% extends 'base.html' %}
{% load static %}
{% block title %}A Propos de Nous!{% endblock title %}

{% block content %}

<div class="about">
    <div class="about-header">
        <div class="container banner">
            <h2>A Propos de Nous</h2>
        </div>
    </div>
    <div class="container about-body">
        <div class="about-body-header">
            <h1>Nos Objectifs</h1>
        </div>

        <div class="card">
            <div class="card-body">
                <p class="about-body-text">
                    Assurer le renforcement de l’apport  des jeunes  parlementaires  de la RDC au sein  des institutions 
                    internationales  à caractère parlementaire notamment l’APF, l’union interparlementaire mondiale et le 
                    parlement panafricain en intégrant  leur point  de vue dans l’agenda et le travail de l’organisation et 
                    en contribuant à leur fournir des outils sur les enjeux de la jeunesse Africaine.
                </p>
                <p class="about-body-text">
                    Accroître la contribution des jeunes  Députés à l’édification de la démocratie plus forte en s’ouvrant 
                    aux jeunes  actifs  en politique  et en renforçant  la représentation des jeunes  parlementaires dans  
                    le bureau exécutif  de l’assemblée nationale.
                </p>
                <p class="about-body-text">
                    Assurer un meilleur suivi  et une  meilleure mise en œuvre des recommandations émanant des organismes 
                    internationaux à caractère parlementaire dont la RDC est membre.
                </p>
                <p class="about-body-text">
                    Encourager la participation des jeunes congolais  aux élections législatives, provinciales et locales.
                </p>
                <p class="about-body-text">
                    Renforcer la participation  des jeunes  parlementaires congolais dans les dynamiques sous- régionales, 
                    régionales et internationales.
                </p>
                <p class="about-body-text">
                    Repositionner les questions de la jeunesse dans les initiatives législatives et gouvernementales.
                </p>
            </div>
        </div>

        <div class="about-body-header">
            <h1>Nos axes d'intervention</h1>
        </div>
         <div class="card">
            <div class="card-body">
                <p class="about-body-text">
                    <ul class="list-group">
                        <li class="list-group-item">Formations et renforcement des capacités</li>
                        <li class="list-group-item">Plaidoyer</li>
                        <li class="list-group-item">Promotion et vulgarisation des lois</li>
                        <li class="list-group-item">Mobilisation et participation citoyenne.</li>
                    </ul>
                    <br>
                    <br>                 
                </p>
            </div>
        </div>
        <div class="about-body-header">
            <h1>Notre motivation</h1>
        </div>
         <div class="card">
            <div class="card-body">
                <p class="about-body-text">
                    Guidés par  la  constitution du 18-02-2006 telle que modifiée et complétée à ce jour ainsi  que le 
                    règlement intérieur de l’assemblée nationale
                    Considérant les résolutions de l’union interparlementaire  mondiale, de l’assemblée parlementaire de 
                    la francophonie  et du parlement panafricain, mettant en exergue le rôle  que  doivent jouer les jeunes 
                    députés Nationaux dans le processus de la consolidation de la démocratie parlementaire.
                    Rappelant la création du programme «jeunes parlementaires francophones» à l’initiative du secrétaire
                    général parlementaire de l’assemblée parlementaire  de la francophonie(APF) ; lors  du bureau de 
                    Clermont –ferrant en janvier 2015.
                    Profondément attaché aux  vertus et valeurs essentielles de la diplomatie parlementaire multilatérale 
                    dont le respect  des droits de l’homme, l’attachement indéfectible à la démocratie, le respect des minorités et le rejet de la violence, notamment dans sa forme à la fois nouvelle et spectaculaire.
                </p>
            </div>
        </div>
    </div>

    <div class="wrapper">
        <h1>Notre équipes</h1>
        <div class="team">
            {% for team in team_list %}
                <div class="team_member shadow-lg">
                    <div class="team_img">
                        <img src="{{ team.team_image.url }}" alt="{{ team.team_name }}">
                    </div>
                    <h3><a href="{% url 'ourteam:team' team.id %}">{{ team.team_name|truncatechars:25 }}</a></h3>
                    <p class="role">{{ team.team_designation }}</p>
                    <p>
                       {{ team.team_description|truncatechars:100 }}
                    </p>
                </div>
            {% endfor %}
        </div>
    </div>	
</div>

{% endblock content %}
