{% extends 'base.html' %}

{% load static %}

{% block title %}Acceuil{% endblock title %}

{% block content %}

<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    {% for home in home_list %}
      <div class="carousel-item {% if forloop.first %}active{% endif %}">
        <img src="{{home.home_image.url}}" class="d-block w-100" alt="{{ home.home_title }}">
        <div class="carousel-caption d-none d-md-block">
          <h5>{{ home.home_title }}</h5>
          <p>{{ hom.home_description}}</p>
        </div>
      </div>
    {% endfor %}
  </div>

  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


  <div class="card">
    <div class="card-body titre">
      <h5 class="card-title">Bienvenue sur le site du réseau des jeunes parlementaires</h5>
      <p class="card-text">Il faut aujourd'hui plus que jamais la création d'un cadre qui 
          puisse guarantir la participation politique des jeunes et leurs engagement citoyen au niveau institutionnel.</p>
    </div>
  </div>

  <hr>

<div class="container">
  <div class="card-deck m row">
    <div class="col-md-4">
      <div class="card">
        <svg width="4em" height="4em" viewBox="0 0 16 16" class="bi bi-people card-img-top" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.995-.944v-.002.002zM7.022 13h7.956a.274.274 0 0 0 .014-.002l.008-.002c-.002-.264-.167-1.03-.76-1.72C13.688 10.629 12.718 10 11 10c-1.717 0-2.687.63-3.24 1.276-.593.69-.759 1.457-.76 1.72a1.05 1.05 0 0 0 .022.004zm7.973.056v-.002.002zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10c-1.668.02-2.615.64-3.16 1.276C1.163 11.97 1 12.739 1 13h3c0-1.045.323-2.086.92-3zM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4z"/>
        </svg> 
        <div class="card-body">
          <h5 class="card-title">Assurer le renforcement</h5>
          <p class="card-text">Assurer le renforcement de l’apport  des jeunes  parlementaires  de la RDC au sein  des institutions internationales  à caractère parlementaire notamment l’APF.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <svg width="4em" height="4em" viewBox="0 0 16 16" class="bi bi-bar-chart-line card-img-top" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M4 11H2v3h2v-3zm5-4H7v7h2V7zm5-5h-2v12h2V2zm-2-1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1h-2zM6 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm-5 4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-3z"/>
          <path fill-rule="evenodd" d="M0 14.5a.5.5 0 0 1 .5-.5h15a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5z"/>
        </svg>
        <div class="card-body">
          <h5 class="card-title">Accroitre la contribution</h5>
          <p class="card-text">Accroitre la contribution des jeunes  Députés à l’édification de la démocratie plus forte en s’ouvrant aux jeunes  actifs  en politique  et en renforçant  la représentation des jeunes  parlementaires dans  le bureau exécutif  de l’assemblée nationale.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <svg width="4em" height="4em" viewBox="0 0 16 16" class="bi bi-diagram-3 card-img-top" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M0 11.5A1.5 1.5 0 0 1 1.5 10h1A1.5 1.5 0 0 1 4 11.5v1A1.5 1.5 0 0 1 2.5 14h-1A1.5 1.5 0 0 1 0 12.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zm4.5.5A1.5 1.5 0 0 1 7.5 10h1a1.5 1.5 0 0 1 1.5 1.5v1A1.5 1.5 0 0 1 8.5 14h-1A1.5 1.5 0 0 1 6 12.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zm4.5.5a1.5 1.5 0 0 1 1.5-1.5h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1a1.5 1.5 0 0 1-1.5-1.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zM6 3.5A1.5 1.5 0 0 1 7.5 2h1A1.5 1.5 0 0 1 10 3.5v1A1.5 1.5 0 0 1 8.5 6h-1A1.5 1.5 0 0 1 6 4.5v-1zM7.5 3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1z"/>
          <path fill-rule="evenodd" d="M8 5a.5.5 0 0 1 .5.5V7H14a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-1 0V8h-5v.5a.5.5 0 0 1-1 0V8h-5v.5a.5.5 0 0 1-1 0v-1A.5.5 0 0 1 2 7h5.5V5.5A.5.5 0 0 1 8 5z"/>
        </svg>
        <div class="card-body">
          <h5 class="card-title">Assurer un meilleur suivie</h5>
          <p class="card-text">Assurer un meilleur suivi  et une  meilleure mise en œuvre des recommandations émanant des organismes internationaux à caractère parlementaire dont la RDC est membre.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <svg width="4em" height="4em" viewBox="0 0 16 16" class="bi bi-award card-img-top" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M9.669.864L8 0 6.331.864l-1.858.282-.842 1.68-1.337 1.32L2.6 6l-.306 1.854 1.337 1.32.842 1.68 1.858.282L8 12l1.669-.864 1.858-.282.842-1.68 1.337-1.32L13.4 6l.306-1.854-1.337-1.32-.842-1.68L9.669.864zm1.196 1.193l-1.51-.229L8 1.126l-1.355.702-1.51.229-.684 1.365-1.086 1.072L3.614 6l-.25 1.506 1.087 1.072.684 1.365 1.51.229L8 10.874l1.356-.702 1.509-.229.684-1.365 1.086-1.072L12.387 6l.248-1.506-1.086-1.072-.684-1.365z"/>
          <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z"/>
        </svg>
        <div class="card-body">
          <h5 class="card-title">Encourager la participation</h5>
          <p class="card-text">Encourager la participation des jeunes congolais  aux élections législatives, provinciales et locales.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <svg width="4em" height="4em" viewBox="0 0 16 16" class="bi bi-person-plus card-img-top" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M11 14s1 0 1-1-1-4-6-4-6 3-6 4 1 1 1 1h10zm-9.995-.944v-.002.002zM1.022 13h9.956a.274.274 0 0 0 .014-.002l.008-.002c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664a1.05 1.05 0 0 0 .022.004zm9.974.056v-.002.002zM6 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zm4.5 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
          <path fill-rule="evenodd" d="M13 7.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0v-2z"/>
        </svg>
        <div class="card-body">
          <h5 class="card-title">Renforcer la participation</h5>
          <p class="card-text">Renforcer la participation  des jeunes  parlementaires congolais dans les dynamiques sous- régionales, régionales et internationales.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
      <svg width="4em" height="4em" viewBox="0 0 16 16" class="bi bi-question-square card-img-top" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
          <path d="M5.25 6.033h1.32c0-.781.458-1.384 1.36-1.384.685 0 1.313.343 1.313 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.007.463h1.307v-.355c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.326 0-2.786.647-2.754 2.533zm1.562 5.516c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
        </svg>
        <div class="card-body">
          <h5 class="card-title">Repositionner les questions</h5>
          <p class="card-text">Repositionner les questions de la jeunesse dans les initiatives législatives et gouvernementales.</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
    <div class="card titre">
      <div class="card-body">
        <h5 class="card-title">Actualités</h5>
    </div>
</div>
<div class="row">
  {% for actu in actualite_list %}
    <div class="col-md-6">
      <div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="{{actu.actu_image.url}}" class="card-img" alt="{{ actu.actu_title }}">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><a href="{{ actu.get_absolute_url }}"> {{ actu.actu_title|truncatechars:30 }}</a></h5>
              <p class="card-text">{{ actu.actu_content|truncatechars:120 }}</p>
              <p class="card-text"><small class="text-muted">{{ actu.created }}</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>



<!-- <div class="container">
      <div class="card titre">
        <div class="card-body">
          <h5 class="card-title">Propositions des lois</h5>
      </div>
</div>
<div class="row">
  {% for lois in lois_list %}
    <div class="col-md-6">
      <div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="{{lois.lois_image.url}}" class="card-img" alt="{{ lois.lois_title }}">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><a href="{{ lois.get_absolute_url }}"> {{ lois.lois_title|truncatechars:30 }}</a></h5>
              <p class="card-text">{{ lois.lois_content|truncatechars:120 }}</p>
              <p class="card-text"><small class="text-muted">{{ lois.created }}</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div> -->


<!-- <div class="container">
  <div class="card titre">
    <div class="card-body">
      <h5 class="card-title">Sondages sur les propositions des lois</h5>
  </div>
</div>
<div class="row">
  {% for sondage in sondage_list %}
    <div class="col-md-6">
      <div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="{{ sondage.sondage_image.url }}" class="card-img" alt="{{ sondage.sondage_title }}">
          </div>
          <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><a href="{% url 'sondage:vote' sondage.id %}"> {{ sondage.sondage_title|truncatechars:30 }}</a></h5>
                <p class="card-text">
                    {{ sondage.sondage_content|truncatechars:110 }}
                </p>
                <p class="card-text">
                    <span class="vote-green ml-1 mr-4" data-toggle="tooltip" data-placement="top" title="D'accord">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                        </svg>
                        <span class="">{{ sondage.vote_yes }}</span>
                    </span>
                    <span class="vote-green ml-1 mr-4" data-toggle="tooltip" data-placement="top" title="Neutre">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star-half" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M5.354 5.119L7.538.792A.516.516 0 0 1 8 .5c.183 0 .366.097.465.292l2.184 4.327 4.898.696A.537.537 0 0 1 16 6.32a.55.55 0 0 1-.17.445l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256a.519.519 0 0 1-.146.05c-.341.06-.668-.254-.6-.642l.83-4.73L.173 6.765a.55.55 0 0 1-.171-.403.59.59 0 0 1 .084-.302.513.513 0 0 1 .37-.245l4.898-.696zM8 12.027c.08 0 .16.018.232.056l3.686 1.894-.694-3.957a.564.564 0 0 1 .163-.505l2.906-2.77-4.052-.576a.525.525 0 0 1-.393-.288L8.002 2.223 8 2.226v9.8z"/>
                        </svg>
                        <span class="">{{ sondage.vote_null }}</span>
                    </span>
                    <span class="vote-green ml-1 mr-4" data-toggle="tooltip" data-placement="top" title="Pas d'accord">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.523-3.356c.329-.314.158-.888-.283-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767l-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288l1.847-3.658 1.846 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.564.564 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                        </svg>
                        <span class="">{{ sondage.vote_no }}</span>
                    </span>
                </p>
                {% comment %} <p class="card-text">
                    <a href="{% url 'sondage:vote' sondage.id %}" class="btn btn-info btn-xs">Donnez votre avis</a> &nbsp;
                </p> {% endcomment %}
                <p class="card-text"><small class="text-muted">{{ sondage.created }}</small></p>
              </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div> -->


{% endblock content %}